<div class="container">
	<div class="search-container">
		<form (ngSubmit)="onSubmit(form)" action="" #form="ngForm">
			<input type="search"
				#search
				class="input" 
				(input)="onInput($event)" 
				ngModel name="text" 
				#input 
				(keyup)="checkESCTap($event)"
				autocomplete="off">
			<input type="submit" class="submit" value="submit">
		</form>
		<ul class="list">
			<li 
				class="list_item" 
				(click)="countryClick(idx)" 
				(mouseover)="onMouseOver(idx)" 
				(mouseout)="onMouseOut()" 
				*ngFor="let country of countries; let idx = index" 
				data-active="">{{country.locale_names[0]}}</li>
		</ul>
	</div>
	<div class="answer" *ngIf="answer.country !== ''">
		<div> 
			Country: {{answer.country}}
		</div>
		<div> 
			population: {{answer.population}}
		</div>
	</div>
</div>



