.list_item, .list
	list-style-type: none


.list_item:first-child
	background-color: #aaa

.list_item
	padding: 5px
	width: 100%

.list_item:hover 
	cursor: pointer
	background-color: #ccc

.container
	display: flex

.search-container
	position: relative
	display: flex
	flex-direction: column

.list
	position: absolute
	width: 300px
	top: 50px
	left: 0
	padding: 0
	margin: 0


.input
	border: none
	width: 200px
	outline: none
	border-bottom: 2px solid rgba(100,121,143,0.122)
	padding: 5px
	font-style: italic
	background-color: transparent
	&:focus
		border-color: #ff7f50
	&:active
		background-color: transparent

.submit
	background-color: orange
	border: none
	color: white
	padding: 5px 5px
	cursor: pointer

.answer
	margin-left: 5px